body {
background-color: black;
color:white;
}
#roster,#buy,#request,#economy,#economyGUI,#newCharacter,#randomize,#fight,#Log,#newCharacterGUI,#exit,#create{
border-style:solid;
border-color:grey;
display:inline-block;
position: relative;
}

#newLog{
    display:inline-block;
    width:100vw;
}
#Log{
    height:25vh;
    width:100vw;
    overflow:scroll;
    position:absolute;
    bottom:0;
    left:0;
    opacity:50%;
    border-style:none;
}
#Log::-webkit-scrollbar{
    display:none;
}
#newCharacterGUI,#economyGUI{
    display:none;
}
#exit,#economyGUIExit{
    display:inline-block;
    position: absolute;
    top:0;
    right:0;
}
#create{
    position:absolute;
    bottom:0;
    left:0;
}
.addButton{
    background-image:url("../images/plus.png");
    height:3vh;
    width:3vh;
    background-size:contain;
}