body {
background-color: black;
color:white;
}
#Field,#player,#spells,#extended,#monster,#monsterExtended,#randomize,#fight,#Log{
border-style:solid;
border-color:grey;
display:inline-block;
}
#randomize,#fight{
    background-color:rgb(42, 42, 109);
    color:rgb(228, 38, 38);
}
#randomize:hover,#fight:hover{
    background-color:rgb(228,38,38);
    color:rgb(42,42,109);
}
#newLog{
    display:inline-block;
    width:40vw;
}
#Log{
    height:50vh;
    width:48vw;
    overflow:scroll;
}
#Field{
    height:43vh;
    width:44vw;
    position: absolute;
    right:0;
    bottom:0;
    display:flex;
    flex-wrap:wrap;
}
.cell{
    border-style:solid;
    width:10vw;
    height:10vh;
}
