body {
background-color: black;
color:white;
}
#player,#spells,#extended,#monster,#monsterExtended,#randomize,#fight,#Log{
border-style:solid;
border-color:grey;
display:inline-block;
}
#randomize,#fight{
    background-color:rgb(42, 42, 109);
    color:rgb(228, 38, 38);
}
#randomize:hover,#fight:hover{
    background-color:rgb(228,38,38);
    color:rgb(42,42,109);
}
#newLog{
    display:inline-block;
    width:100vw;
}
#Log{
    height:50vh;
    width:100vw;
    overflow:scroll;
}